
body{
    background-color: #E7E5E4;
}

html{   
    scroll-behavior:smooth;
}

nav a{
    font-family: 'Satisfy', cursive;
    text-shadow: black 2px 2px 2px;
    color: white;
}

li{
    font-size: 1.5em;
    font-weight: bold;
}
.navbar-light .navbar-toggler-icon{
    background: url(Assets/menu.png) no-repeat;
    background-position: center;
    background-size: cover;
    width: 25px;
}
.navbar-toggler{
    font-size: 1rem;
}
.couleur{
    background-color: #E7E5E4;
}

.nature{
    background: url(Assets/forest-1072828_1280.jpg) no-repeat;
    opacity: 0.9;
    background-size: cover;
    background-position: center;
    width: auto;
	height: 500px;

}
.nature h2{
    padding-top: 225px;
    text-decoration: none;
    color: white;
    text-shadow: black 3px 3px 3px;
}
h2{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    text-decoration: underline;
    font-size: 2.5em;
}

.couleur2{
    background-color:#E7E5E4;
}
.couleur2:hover{

}
.present p{
    text-align: center;
}
.tutu img{
    width: 150px;

}
.hello{
    width: 200px;
    align-items: center;
    
}
.couleur3{
    background-color: #E7E5E4;
}


.competences p{
    text-align: center;
}
.competences img{
    width: 150px;
}
.competences a{
    border: black 1px solid;
    background-color: white;
    padding: 5px;
    color: black;
    text-decoration: none;
    border-radius: 15px;
}
.competences a:hover{
    background-color: black;
    color:white
}
.valid img{
    width: 30px;
}
.centrer{
    text-align: center;
}
.couleur4{
    background-color: #E7E5E4;
}


.vl {
    border-left: 2px solid black;
    height: 225px;
}
h3{
    text-align: center;
}

.droit img{
    width: 45px;
}
.droit2 img{
    width: 45px;
} 
@media (max-width: 700px) {
    .droit{
        font-size: 0.5em;
    }
    .test h3{
        font-size: 1.5em;
    }
    .competences p{
        font-size: 0.91em;
    }
    .tutu img{
        width: 95px;
    }
}
hr{
    margin-bottom: 0rem;
}
.present img{
    box-shadow: 3px 3px 3px rgb(63, 61, 61);
}
i{
    font-size: 3em;
    color:rgb(52, 99, 185);
}

p.except{
    margin-top: 45px;
}
.photo{
    width:200px;
}